@media (max-width: 1920px) and (min-width: 1367px){
    .publicacoes{
        margin: 20px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .publicacoes img{
        width: 450px;
        height: 450px;
        margin: 15px;
        border: 1px #778DA9 solid;
    }
    .publicacoes img:hover{
        transform: scale(1.07);
        transition: 0.5s;
        cursor: pointer;
    }
    }