@media (max-width: 1366px){
.form{
    margin: auto;
    margin-top: 5px;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    width: 900px;
    background-color: #0D1B2A;
    border-radius: 20px;
}

.form img{
    position: relative;
    top: 4px;
    margin: 0 0 0 10px ;
    cursor: pointer;
}

.form input{
    width: 47%;
    margin: 5px 5px 5px 130px;
    padding: 3px 40px 3px 10px;
    border-radius: 10px;

}
.form i{
    position: relative;
    top: 7px;
    right: 40px;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: -1px ;
}

#horaAtual{
    width: 170px;
    color: #E0E1DD;
    transition: 0.3s;
    padding: 10px;
    margin-left: 50px;
}
}